node_modules/
dist/
npm-debug.log
nohup.out
dump.rdb
newrelic_agent.log
.DS_Store
.idea/
spmdb
*.js
*.map
typings/
schema1/
*.log
.vscode/
config/Config.d.ts
package-lock.json
.envrc
.yarnrc
.yarn/
.nyc_output/
coverage/
defence/typewriter/src/mocks
coverage-output.txt
build-time.txt